<?xml version="1.0"?>
<config>
    <modules>
        <VinaiKopp_LoginLog>
            <version>0.1.0</version>
        </VinaiKopp_LoginLog>
    </modules>
    <global>
        <models>
            <vinaikopp_loginlog>
                <class>VinaiKopp_LoginLog_Model</class>
                <resourceModel>vinaikopp_loginlog_resource</resourceModel>
            </vinaikopp_loginlog>
            <vinaikopp_loginlog_resource>
                <class>VinaiKopp_LoginLog_Model_Resource</class>
                <entities>
                    <login_log>
                        <table>vinaikopp_login_log</table>
                    </login_log>
                </entities>
            </vinaikopp_loginlog_resource>
        </models>
        <helpers>
            <vinaikopp_loginlog>
                <class>VinaiKopp_LoginLog_Helper</class>
            </vinaikopp_loginlog>
        </helpers>
        <blocks>
            <vinaikopp_loginlog>
                <class>VinaiKopp_LoginLog_Block</class>
            </vinaikopp_loginlog>
        </blocks>
        <resources>
            <vinaikopp_loginlog_setup>
                <setup>
                    <module>VinaiKopp_LoginLog</module>
                </setup>
            </vinaikopp_loginlog_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <vinaikopp_loginlog>
                        <type>model</type>
                        <class>vinaikopp_loginlog/observer</class>
                        <method>customerLogin</method>
                    </vinaikopp_loginlog>
                </observers>
            </customer_login>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vinaikopp_loginlog before="Mage_Adminhtml">VinaiKopp_LoginLog_Adminhtml</vinaikopp_loginlog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vinaikopp_loginlog>
                    <file>vinaikopp/loginlog.xml</file>
                </vinaikopp_loginlog>
            </updates>
        </layout>
    </adminhtml>
    <phpunit>
        <suites>
            <modules>
                <VinaiKopp_LoginLog/>
            </modules>
        </suites>
    </phpunit>
</config>