<?xml version="1.0"?>
<config>
    <modules>
        <VinaiKopp_LoginLog>
            <version>0.1.0</version>
        </VinaiKopp_LoginLog>
    </modules>
    <global>
        <models>
            <vinaikopp_loginlog>
                <class>VinaiKopp_LoginLog_Model</class>
                <resourceModel>vinaikopp_loginlog_resource</resourceModel>
            </vinaikopp_loginlog>
            <vinaikopp_loginlog_resource>
                <class>VinaiKopp_LoginLog_Model_Resource</class>
                <entities>
                    <login_log>
                        <table>vinaikopp_login_log</table>
                    </login_log>
                </entities>
            </vinaikopp_loginlog_resource>
        </models>
        <helpers>
            <vinaikopp_loginlog>
                <class>VinaiKopp_LoginLog_Helper</class>
            </vinaikopp_loginlog>
        </helpers>
        <resources>
            <vinaikopp_loginlog_setup>
                <setup>
                    <module>VinaiKopp_LoginLog</module>
                </setup>
            </vinaikopp_loginlog_setup>
        </resources>
    </global>
    <phpunit>
        <suites>
            <modules>
                <VinaiKopp_LoginLog/>
            </modules>
        </suites>
    </phpunit>
</config>